*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
  user-select: none;
  background: #050505;
}
html{
  background: #050505;
}
#home{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.parallax-slider .swiper-slide {
  position: relative;
  overflow: hidden;
}

.parallax-slider .img-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-position: center;
  background-size: cover;
}


.slider-controls{
  position: absolute;
  right:5%;
  bottom:10%;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
}

.prev-ctrl,.next-ctrl{
  height: auto;
  width: auto;
  text-align: center;
  padding: 10px;
  background: transparent;
  outline: none;
  position: relative;
  left:auto;
  right:auto;
  cursor: pointer;
}
.slider-controls{
  background: rgb(0,0,0,.4);
  z-index: 10;
  margin-left:10px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 8px;
}

.parallax-slider{
  height:100vh;
  width: 100%;
}

.parallax-slider .img-container.one {
  background:url(../images/slider-slide-1.jpg);
  background-position: center;
  background-size: cover;
}

.parallax-slider .img-container.two {
  background:url(../images/slider-slide-2.jpg);
  background-position: center;
  background-size: cover;
}

.parallax-slider .img-container.three {
  background:url(../images/slider-slide-3.jpg);
  background-position: center;
  background-size: cover;
}
.parallax-slider .img-container.four {
  background:url(../images/slider-slide-4.jpg);
  background-position: center;
  background-size: cover;
}
.navigation{
  position: absolute;
  left: 0;
  top: 0;
  z-index:10;
  color: rgb(245, 245, 245);
  font-family: 'brook', sans-serif;
  padding: 20px;
  padding-top: 40px;
  padding-left: 40px;
  font-size: 18px;
  width: 100%;
}
.logo{
  display: inline-block;
  z-index: 10;
  color: rgb(245, 245, 245);
  padding:10px;
  font-family: brook;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  border-radius: 4px;
}
.navigation-links{
  float: right;
  padding: 10px;
  padding-right: 40px;
}
a{
  color: inherit;
  text-decoration: none;
  outline: none;
}
a:hover{
  color: inherit;
  text-decoration: none;
  outline: none;
}
li{
  list-style: none;
  padding-left: 40px;
}
.links{
  opacity:.9;
  transition: all .4s ease;
}
.links:hover{
  opacity: 1;
}
.cursor{
  height: 50px;
  width: 50px;
  background: transparent;
  border-radius: 50%;
  pointer-events: none;
  border: 1px solid rgb(245, 245, 245);
  position: fixed;
  z-index: 10;
  top: -25px;
  left: -25px;
  opacity:1;
  overflow: hidden;
  font-family: brook;
  text-align: center;
  color:black;
  font-size: 16px;
}
.cursor-two{
  height: 8px;
  width: 8px;
  background: rgb(245, 245, 245);
  border-radius: 50%;
  pointer-events: none;
  position: fixed;
  z-index: 10;
  opacity:1;
  top: -4px;
  left: -4px;
  transition: all .05s ease;
}
ul{
  display: flex;
  flex-direction: row;
}
.swiper-pagination-container
{
  position: relative;
  width: 100px;
  height:70px;
  z-index: 10;
  padding:10px 
}
.swiper-pagination{
  width:100px;
  height:2px;
  background: rgb(245, 245, 245,.2);
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.slider-control-image{
  height:50px;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background: rgb(245, 245, 245);
}

.slide-text{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(245, 245, 245);
  font-size: 90px;
  text-align: center;
  font-family: bold;
  font-weight: 900;
}







#breaker{
  background: #000000;
  position: fixed;
  height: 150vh;
  display: none;
  width: 100%;
  z-index: 11;
  transform: translateY(-100%);
  animation: breaker 2.5s ;
}
@keyframes breaker{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(100%);
  }
}


.navigation-close-line{
  height: 22px;
  width: 2px;
  border-radius: 10px;
  background: rgb(245, 245, 245);
  position: absolute;
  transform: rotate(-45deg);
}
.navigation-close{
  padding: 20px;
  padding-top: 0px;
  cursor: pointer;
}
.navigation-close-line:nth-child(2){
  transform: rotate(45deg);
}

.project{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  overflow: hidden;
  background: #050505;
  position: relative;
}
.slideshow{
  width:95%;
  margin: auto;
  overflow: hidden;
  height: 80vh;
}
.slides,.pheripherals-slides,.gamers-slides,.laptops-slides{
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease;
  position: absolute;
}
.controls{
  position: absolute;
  right:5%;
  bottom:5%;
  width: auto;
  height: auto;
  cursor: pointer;
}
.hover{
  cursor: pointer;
}
.imgs{
  cursor: pointer;
  height: 26px;
  width: 26px;
  transition: all .4s ease;
}
.controls button:hover img{
  transform: scale(1.4);
}
.slides img,.pheripherals-slides img,.gamers-slides img,.laptops-slides img{
  width: auto;
  max-height: 70vh;
  position: absolute;
  margin: auto;
  pointer-events: none;
  border-radius: 6px;
}
.navigation-project{
position: absolute;
z-index: 2;
}
.controls button{
  padding: 10px 10px;
  padding-left: 50px;
  background: transparent;
  color: rgb(245, 245, 245);
  transition: all .4s ease;
  outline: none;
  border: none;
  margin: 5px;
}
.project-link{
  padding:100px;
  padding-left: 150px;
}
.сomponents-project,.pheripherals-project,.gamers-project,.laptops-project{
  display: none;
  transform: scale(.9);
  overflow: hidden;
}
.project-name{
  font-size: 80px;
  font-family: bold;
  color: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  width: 100%;
  background: rgb(0,0,0,.4);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  pointer-events: none;
  font-weight: 900;
  z-index: 5;
}
.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  border: 0px;
  height: 1px;
  overflow: hidden;
  background:#1b1b1b;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 400px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: grey;
}

.pace.pace-inactive {
  display: none;
}

#preloader{
  width:100%;
  height:100vh;
  background:#050505;
  overflow:hidden;
  z-index: 1000;
  position:fixed;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: bold;
  font-size: 30px;
  color: rgb(245, 245, 245);
}


#projects  .swiper-container{
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  max-height: 70vh;
}
#projects .swiper-wrapper{
  height: 70vh;
}
.align-center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#projects .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  max-width: 60%;
  position: relative;
  height: auto;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#projects .swiper-slide img{
  width: auto;
  max-height: 70vh;
  position: absolute;
  margin: auto;
  pointer-events: none;
  border-radius: 6px;
}
.gg-mouse {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 16px;
  height: 24px;
  border: 2px solid rgb(245, 245, 245);
  border-radius: 10px

}

.gg-mouse::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 6px;
  background: rgb(245, 245, 245);
  top: 3px;
  animation: mouse 2s linear infinite;
  left: 5px
}
#projects .scroll-icon{
  bottom: 7%;
}
.scroll-icon{
position: absolute;
left: 50%;
bottom: 10%;
z-index: 2;
}
@keyframes mouse {
  0%{
    transform: translateY(0%);
  }
  50%{
    transform: translateY(50%);
  }
  100%{
    transform: translateY(0%);
  }
}
@-webkit-keyframes mouse{
  0%{
    transform: translateY(0%);
  }
  50%{
    transform: translateY(50%);
  }
  100%{
    transform: translateY(0%);
  }
}

/*

FOR MOBILES

*/
@media all and (max-width: 576px) and (min-width: 375px){
.navigation{
  font-size: 14px;
  padding-top:20px;
  padding-left: 20px;
  padding-left: 10px;
}
.p-0{
  font-size: 0px;
}
.project-name{
  font-size: 30px;
}
.cursor,.cursor-two{
  display: none;
}
.navigation-links{
  padding-right: 0px;
  padding-left: 0px;
}
.logo{
  font-size: 14px;
  padding-left: 0px;
}
.project-link{
  padding:40px;
  padding-left: 30px;
  padding-right: 40px;
  font-size: 40px;
}
.slider-controls{
  position: absolute;
  right:15%;
  bottom:10%;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
}
.slide-text{
  font-size: 70px;
}

.navigation-close-line{
  height: 16px;
  width: 2px;
}
#goods .social-media-links ul li{
  font-family: brook;
  font-size: 16px;
}
.slides img,.pheripherals-slides img,.gamers-slides img,.laptops-slides img{
  width: auto;
  max-width: 95%;
  max-height: auto;
  position: absolute;
  margin: auto;
  border-radius: 8px;
}
.controls button{
  padding: 10px 10px;
  margin: 5px;
}
.controls button:hover img{
  transform: scale(1);
}

#projects .swiper-slide img{
  width: 100%;
  max-height: 70vh;
  position: absolute;
  margin: auto;
  pointer-events: none;
  border-radius: 6px;
}
.filter-container {
        flex-direction: column;
        align-items: stretch;
    }

    .filter-button {
        margin: 5px 0;
    }
    .product {
        width: 70%+50px; /* Робимо товар на повну ширину контейнера */
    }
    .product img {
        max-width: 20%; /* Забезпечуємо, що зображення вміщується в ширину товару */
    }
    .product h2 {
        font-size: 1.5rem; /* Зменшуємо розмір шрифту заголовка товару */
    }
    .product p {
        font-size: 1rem; /* Зменшуємо розмір шрифту ціни товару */
    }
.cart-container {
        width: 100%; /* Робимо корзину на повну ширину контейнера */
        max-width: 100%; /* Забезпечуємо максимальну ширину корзини */
    }
    .cart {
        padding: 10px; /* Додатковий внутрішній відступ для корзини */
    }
    .cart-icon {
        display: none; /* Сховати іконку корзини на малих екранах */
    }
    .cart-button {
        font-size: 0.8rem; /* Зменшуємо розмір шрифту кнопок в корзині */
    }
    .cart-total {
        font-size: 1rem; /* Зменшуємо розмір шрифту загальної суми */
    }
}
/*
FOR EXTRA SMALL DEVICES
*/


@media all and (max-width: 375px) and (min-width: 0px){
   .products {
    flex-direction: column;
  }

  .product {
    width: 100%;
    margin: 10px 0;
  }
  .navigation{
    font-size: 14px;
    padding-top:20px;
    padding-left: 20px;
    padding-left: 10px;
  }
  .cursor,.cursor-two{
    display: none;
  }
  .project-name{
  font-size: 30px;
}
.p-0{
  font-size: 0px;
}
  .project-link{
    padding:20px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 35px;
  }
  .navigation-links{
    padding-right: 0px;
    padding-left: 0px;
  }
  .logo{
    font-size: 14px;
    padding-left: 0px;
  }
  .slider-controls{
    position: absolute;
    right:15%;
    bottom:10%;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
  }
  .slide-text{
    font-size: 70px;
  }
 
  .navigation-close-line{
    height: 16px;
    width: 2px;
  }
  .slides img,.pheripherals-slides img,.gamers-slides img,.laptops-slides img,.gamers-slides img{
    width: 95%;
    max-height: auto;
    position: absolute;
    margin: auto;
    border-radius: 8px;
  }
  .controls button{
    padding: 10px 10px;
    margin: 5px;
  }
  .controls button:hover img{
    transform: scale(1);
  }
  .view-project{
    display: block;
  }
  
  .pace{
    width:200px;
  }
 
#button{
  margin: 0px;
}

#projects .swiper-slide img{
  width: 100%;
  max-height: 70vh;
  position: absolute;
  margin: auto;
  pointer-events: none;
  border-radius: 6px;
}
.gg-mouse {

  display:none;
}
}


/*
FOR TABLETS
*/

@media all and (max-width: 991px) and (min-width: 576px){
  .product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }

  .product img {
    max-width: 100%;
    height: auto;
  }

  .product h2 {
    font-size: 20px;
  }

  .product p {
    font-size: 18px;
  }

  .quantity-button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin-left: 38%;
  }

  .product button.add-to-cart {
    font-size: 18px;
  }

  
  .cursor,.cursor-two{
    display: none;
  }

.slides img,.pheripherals-slides img,.gamers-slides img,.laptops-slides img{
  width: auto;
  max-width: 95%;
  max-height: auto;
  position: absolute;
  margin: auto;
  border-radius: 8px;
}
.view-project{
  display: block;
  font-size: 10px;
}
.pace{
  width:300px;
}
.project-name{
  font-size: 40px;
}
.project-link{
  padding:100px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 50px;
}
.gg-mouse {

  display:none;
}

#projects .swiper-slide img{
  width: 100%;
  max-height: 70vh;
  position: absolute;
  margin: auto;
  pointer-events: none;
  border-radius: 6px;
}
}


/* Стилі для фільтрів */
/* Огородження фільтрів */
.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Колір фону */
  padding: 10px;
  border-radius: 5px; /* Закруглені кути */
  margin-top: 20px;
}

/* Стилізація кнопок фільтрів */
.filter-button {
  background-color: #4CAF50; /* Колір кнопок */
  color: white;
  border: none;
  border-radius: 5px; /* Закруглені кути */
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

/* Стилізація тексту в фільтрі */
.filter-text {
  color: white; /* Колір тексту */
  margin-right: 10px;
}

/* Стилізація при наведенні курсора миші на фільтр */
.filter-button:hover {
  background-color: #45a049; /* Зміна колору при наведенні */
}


/* Стилі для контейнера товарів */
.products {
    display: grid;
  grid-template-columns: repeat(3, 1fr); /* Один товар на кожен стовпчик */
  gap: 10px; /* Відступи між товарами */
}

/* Стилізація товару */
.product {
  width: 100%-20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

/* Стилізація зображення товару */
.product img {
    max-width: 100%;
    height: auto;
}

/* Стилізація назви товару */
.product h2 {
    font-size: 18px;
    color: white;
}

/* Стилізація ціни товару */
.product p {
    font-size: 16px;
    color: white;
}

/* Стилізація блоку для кількості */
.product .product-details {
    margin: 10px 0;
}

/* Стилізація кнопок "Додати до корзини" і "Кількість" */
.product button.add-to-cart {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.product .quantity-control {
    display: flex;
    align-items: center;
}

.product .quantity-control label {
    font-size: 16px;
    margin-right: 10px;
    color: white;
}

.product .quantity-control .quantity-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 38%;
}

.product .quantity-control input.quantity {
    width: 50px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

.product .quantity-control .quantity-button.plus {
     margin-left: 1px;
}

/* Змінюємо вигляд кнопок при наведенні мишки */
.product .quantity-control .quantity-button:hover,
.product button.add-to-cart:hover {
    background-color: #0056b3;
}


/* Стилі для кнопок сортування */
.sort-buttons {
    text-align: center;
    margin: 20px 0;
}

.sort-buttons button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.sort-buttons button:hover {
    background-color: #0056b3;
}

.sort-buttons select {
    padding: 10px;
    border-radius: 5px;
}

/* Стилі для іконки корзини */
.cart-icon {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  background: #4169E1; /* Королівський синій */
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

.cart-icon-text {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #ffdb58; /* Жовтий колір для виділення */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Тінь тексту */
}

.cart-icon:hover + .cart-container,
.cart-container:hover {
  display: block;
}

/* Стилі для контейнера корзини */
.cart-container {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 10px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 900px;
  z-index: 1;
  transition: display 0.3s;
}

/* Оновлені стилі для елементів товару в корзині */
.cart-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.cart-items:hover {
  display: block;
}

#cart-items img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

.cart-items-details {
  flex-grow: 1;
}

.cart-item-name {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #333; /* Колір назви товару */
}

.cart-item-price {
   margin-right: 10px;
  font-size: 16px;
  color: #f06292; /* Колір ціни */
}

.cart-item-quantity {
   margin-right: 10px;
  width: 80px;
  text-align: center;
  align-items: center;
}

.cart-item-quantity-input {
  width: 30px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cart-total {
  font-size: 16px;
  font-weight: bold;
   margin-right: 20px;
   margin-top: 15px;
   text-align: center;
  color: royalblue; /* Колір ціни */
}

.cart-items-remove {
  background: #f1556c;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.cart-items-remove:hover {
  background: #e0495a;
}

/* Стилі для кнопок у корзині */
.cart-button,.remove-from-cart {
  background: #4169E1; /* Королівський синій */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background 0.3s;
}

.cart-button:hover,.remove-from-cart:hover {
  background: #3554C2; /* Темніший відтінок королівського синього при наведенні */
}
